@{
    ViewData["Title"] = "Home Page";
}

<script src="~/assets/home/home.js"></script>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
		<div class="text-center">
			<h1 class="display-4">Ejemplo</h1>
			<p>Guía/Ejemplo para mostrar la interación entre los proyectos de la solución</p>
			<span class="badge bg-secondary">API Basic Auth</span>
			<span class="badge bg-secondary">JSON serialize and JSON deserialize</span>
			<span class="badge bg-secondary">Conexión a base de datos de Azure</span>
			<span class="badge bg-secondary">Arquitectura orientada a servicios</span>
			<span class="badge bg-secondary">ORM Dapper, para mapear las estructuras de datos automaticamente</span>

			<br />
			<div class="text-center" role="alert">


				<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Esta soluci&oacute;n es un&nbsp;Scaffolding que tiene varios proyectos:</span></span></span></span></p>

				<table cellspacing="0" class="MsoTable15Grid1LightAccent1" style="border-collapse:collapse; border:none; width:100%">
					<tbody>
						<tr>
							<td style="border-bottom:2px solid #8eaadb; border-left:1px solid #b4c6e7; border-right:1px solid #b4c6e7; border-top:1px solid #b4c6e7; vertical-align:top">
								<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Exceltec.Presupuesto.FrontEnd</span></span></strong></span></span></p>
							</td>
							<td style="border-bottom:2px solid #8eaadb; border-left:none; border-right:1px solid #b4c6e7; border-top:1px solid #b4c6e7; vertical-align:top; width:367px">
								<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Este proyecto tendr&aacute; la interacci&oacute;n visual con el usuario, no debe tener acceso a datos directamente, sino que debe consumir el proyecto API para la interacci&oacute;n con datos.</span></span></span></span></p>
							</td>
						</tr>
						<tr>
							<td style="border-bottom:1px solid #b4c6e7; border-left:1px solid #b4c6e7; border-right:1px solid #b4c6e7; border-top:none; vertical-align:top">
								<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Exceltec.Presupuesto.API</span></span></strong></span></span></p>
							</td>
							<td style="border-bottom:1px solid #b4c6e7; border-left:none; border-right:1px solid #b4c6e7; border-top:none; vertical-align:top; width:367px">
								<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Este proyecto se encarga de proveer el comportamiento de las entidades, funciones y toda l&oacute;gica de negocio.&nbsp; Este API est&aacute; documentado con Swagger para la f&aacute;cil visualizaci&oacute;n e interacci&oacute;n con los controladores. Este proyecto consume el proyecto&nbsp;Exceltec.Presupuesto.Models, donde viven todas las entidades comunes.</span></span></span></span></p>
							</td>
						</tr>
						<tr>
							<td style="border-bottom:1px solid #b4c6e7; border-left:1px solid #b4c6e7; border-right:1px solid #b4c6e7; border-top:none; vertical-align:top">
								<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Exceltec.Presupuesto.Models</span></span></strong></span></span></p>
							</td>
							<td style="border-bottom:1px solid #b4c6e7; border-left:none; border-right:1px solid #b4c6e7; border-top:none; vertical-align:top; width:367px">
								<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Este proyecto contiene todas las entidades necesarias. Interactua directamente con las consultas de la base de datos.</span></span></span></span></p>
							</td>
						</tr>
					</tbody>
				</table>

				<p>&nbsp;</p>

			</div>
		</div>

    </div>
    <div class="col-3"></div>
</div>

<hr />

<div class="row">

    <div class="col-4"></div>
    <div class="col-4">
        <p>Escribe KEVIN para ir a traer en la BD a este Minion:</p>
        <input id="txtNombre" type="text" class="form-control" value="" />
        <button id="btnEnviar" type="button" class="btn btn-primary">Enviar</button>
        <br />
        <div id="idResult"></div>
    </div>
    <div class="col-4"></div>

</div>
